<!DOCTYPE html>
<html>
<head>
    <title>Stock Analysis Form</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <h1>Stock Analysis Form</h1>
    <form action="/plot/" method="post">
        <label for="stock_ticker">Stock Ticker:</label>
        <input type="text" id="stock_ticker" name="stock_ticker" required><br><br>
        <label for="sector_ticker">Sector Ticker:</label>
        <input type="text" id="sector_ticker" name="sector_ticker" required><br><br>
        <label for="index_ticker">Index Ticker:</label>
        <input type="text" id="index_ticker" name="index_ticker" required><br><br>
        <label for="start_date">Start Date:</label>
        <input type="date" id="start_date" name="start_date" required><br><br>
        <label for="end_date">End Date:</label>
        <input type="date" id="end_date" name="end_date" required><br><br>
        <input type="submit" id="submission_button" value="Generate Significant Levels">
    </form>
    <br>
    <div id="chart" style="width:100%;height:500px;"></div>
    <input type="hidden" id="graphJSON" value="{{ graphJSON | safe }}">
    <script>
        submission_button.addEventListener("click", function () {
            var graphJSON = document.getElementById('graphJSON').value;
            if (graphJSON) {
                var graph = JSON.parse(graphJSON);
                Plotly.newPlot('chart', graph.data, graph.layout);
            }
        }, false);
    </script>
</body>
</html>
